﻿<div class="modal-dialog" style="width: 1000px;z-index: 10;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                数据编辑
                <!--<if condition="$data['rgn_pregionid'] eq $data_region[0]['rgn_atpid']"> <span style="color: red">【所属区域：{$data_region[0]['rgn_name']}】</span></if>-->
            </h4>
        </div>
        <div class="modal-body">
            <form onkeydown="if(event.keyCode==13){return false;}"  id="sys_dlg_form" role="form" class="form-horizontal">
                <div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <if condition="$data['rgn_pregionid'] neq ''">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            所属区域：
                                        </label>
                                        <div class="col-sm-4">
                                            <select name="rgn_pregionid" id="" class="chosen-select" >
                                                <!--<option value="">&nbsp;==请选择==</option>-->
                                                <foreach name="data_region" item="t_v" key="t_k" >
                                                    <option value="{$t_v.rgn_atpid}" <if condition="$data['rgn_pregionid'] eq $t_v['rgn_atpid']">selected<else /></if>>{$t_v.rgn_name}</option>
                                                </foreach>
                                            </select>
                                        </div>
                                    </div>
                                </if>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <span style="color: red">*</span>
                                        名称：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="rgn_name" type="text"  value="{$data.rgn_name}" class="form-control" required>
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        面积：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="rgn_area" type="number"  value="{$data.rgn_area}" class="form-control" pattern="^\d+$" placeholder="单位：平方米！">
                                        <font color="red">数字整数格式（大于等于0）</font>
                                    </div>
                                    <!--<label class="col-sm-2 control-label">-->
                                        <!--代号：-->
                                    <!--</label>-->
                                    <!--<div class="col-sm-4">-->
                                        <!--<input name="rgn_codename" type="text"  value="{$data.rgn_codename}" class="form-control">-->
                                    <!--</div>-->
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        类别：
                                    </label>
                                    <div class="col-sm-4">
                                        <select name="rgn_category" id="rgn_category" class="chosen-select">
                                            <!--<option value="">&nbsp;==请选择==</option>-->
                                            <foreach name="ds_category" item="cg_v" key="cg_k" >
                                                <option value="{$cg_v}" <if condition="$data['rgn_category'] eq $cg_v">selected<else /></if> >{$cg_v}</option>
                                            </foreach>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        使用类别：
                                    </label>
                                    <div class="col-sm-4">
                                        <select name="rgn_buildstatus" id="rgn_buildstatus" class="chosen-select" required>
                                            <!--<option value="">&nbsp;==请选择==</option>-->
                                            <foreach name="ds_buildstatus" item="bs_v" key="bs_k" >
                                                <option value="{$bs_v}" <if condition="$data['rgn_buildstatus'] eq $bs_v">selected<else /></if> >{$bs_v}</option>
                                            </foreach>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        楼宇状态：
                                    </label>
                                    <div class="col-sm-4">
                                        <select name="rgn_floorstatus" id="rgn_floorstatus" class="chosen-select">
                                            <!--<option value="">&nbsp;==请选择==</option>-->
                                            <foreach name="ds_floorstatus" item="fs_v" key="fs_k" >
                                                <option value="{$fs_v}" <if condition="$data['rgn_floorstatus'] eq $fs_v">selected<else /></if> >{$fs_v}</option>
                                            </foreach>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        <!--<span style="color: red">*</span>-->
                                        位置备注：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="rgn_location" type="text"  value="{$data.rgn_location}" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">能源类别：</label>
                                    <div class="col-sm-4">
                                        <select name="energytype[]" class="chosen-select" multiple id="energytype">
                                            <foreach name="ds_energytype" item="detv" key="detk" >
                                                <if condition="('是' eq $detv['aux_selected'])">
                                                    <option value="{$detv.et_atpid}" selected >{$detv.et_name}</option>
                                                    <else />
                                                    <option value="{$detv.et_atpid}" >{$detv.et_name}</option>
                                                </if>
                                            </foreach>
                                        </select>
                                    </div>
                                    <!--<label class="col-sm-2 control-label">-->
                                        <!--能源类别：-->
                                    <!--</label>-->
                                    <!--<div class="col-sm-4">-->
                                        <!--<select name="rgn_energytypeid" id="rgn_energytypeid" class="chosen-select">-->
                                            <!--<option value="">&nbsp;==请选择==</option>-->
                                            <!--<foreach name="ds_energytype" item="et_v" key="et_k" >-->
                                                <!--<option value="{$et_v.et_atpid}" <if condition="$data['rgn_energytypeid'] eq $et_v['et_atpid']">selected<else /></if> >{$et_v.et_name}</option>-->
                                            <!--</foreach>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input name="rgn_atpid" type="hidden" value="{$data.rgn_atpid}" class="form-control">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
            <button type="button" data-dismiss="" id="sys_dlg_submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="z-index: -101;"></div>
<script>
$(function () {
    $(".js-switch").each(function(){
        new Switchery(this, {color: '#1AB394'});
    });
    $(".file-pretty").prettyFile();
    $(".chosen-select").chosen({disable_search_threshold: 6, search_contains: true,width:'284px'});
});
</script>