<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ATP-移动版</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- 高德地图 -->

	<link rel="stylesheet" href="__PUBLIC__/mobile/blue/css/light7.css">
	<link rel="stylesheet" href="__PUBLIC__/mobile/blue/css/light7-swiper.css">
	<link rel="stylesheet" href="__PUBLIC__/mobile/blue/css/light7-swipeout.css">
	<link rel="stylesheet" href="__PUBLIC__/mobile/blue/css/app.css">
	<style>
		.swiper-container {
			padding-bottom: 0!important;
		}
		.swiper-container-horizontal > .swiper-pagination {
		  bottom: 50px!important;
		}

	</style>

</head>
<body>

<div class="page">
<div class="content">
	<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide Slide1"></div>
        <div class="swiper-slide Slide2"></div>
        <div class="swiper-slide Slide3"><a href="tab1.html" class="goapp external">进入应用</a><br>
        </div>
       
    </div>
    <!-- If we need pagination -->
     <div class="swiper-pagination"></div>
    <!-- If we need scrollbar -->
</div>
</div>
</div>


<script src="__PUBLIC__/mobile/blue/js/zepto.js"></script>
<script src="__PUBLIC__/mobile/blue/js/light7.js" ></script>
<script src="__PUBLIC__/mobile/blue/js/light7-swiper.js"></script>
<script src="__PUBLIC__/mobile/blue/js/light7-swipeout.js"></script>
<script src="__PUBLIC__/mobile/blue/js/app.js"></script>

<script>
var mySwiper = new Swiper('.swiper-container', {
    speed: 400,
    spaceBetween: 100
});  
</script>
</body>
</html>
