<include file="Public:header"/>
<include file="Public:menu" active="审批中心"/>

<!-- tab1  -->
<div class="page page-goods" style="display: block">
    <header class="bar bar-nav">
        <a class="icon icon-me pull-left atp-leftbtn"></a>
        <a class="icon icon-star pull-right atp-rightbtn"></a>
        <h1 class="title">全部订单</h1>
    </header>
    <div class="content" id='detail-page'>
        <div class="page-detail">
            <div class='content-block goods-card'>
                <h3>时间：2017-11-10 13:34:18</h3>
                <p>等级：中度报警</p>
                <p>类别：冷暖</p>
                <p>内容：用冷量异常</p>
                <p>处理人：张三</p>
                <p>报警处理状态：处理中</p>
                <p>处理时间：2017-11-10 13:38:16</p>
                <p>处理结果：已修复</p>
                <p>处理方法：手工确认</p>
            </div>
        </div>
    </div>


</div>

<include file="Public:leftbox"/>
<include file="Public:rightbox"/>
<include file="Public:footerjs"/>
<include file="Public:leftrightjs"/>
<script>


</script>
<include file="Public:footer"/>