<include file="Public:header"/>
<include file="Public:menu" active="审批中心"/>

<!-- tab1  -->
<div class="page page-goods" style="display: block">

    <header class="bar bar-nav">
        <a class="icon icon-me pull-left atp-leftbtn"></a>
        <a class="icon icon-star pull-right atp-rightbtn"></a>
        <h1 class="title">数据修改</h1>
    </header>


    <div class="content infinite-scroll">
        <div>


        </div>

        <div class="list-block media-list atp-list" style="margin: 0;">
            <ul>

                <li>
                    <a href="__CONTROLLER__/datachangedetail" class="item-link item-content external">
                        <div class="item-media"><img src="__PUBLIC__/mobile/images/icon4.png" width="80"></div>
                        <div class="item-inner">
                            <div class="item-title">编号：DSC001</div>
                            <div class="item-subtitle">时间：2017-11-13 22:05:34</div>
                            <div class="item-subtitle">名称：数据修改</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <!--<div class="infinite-scroll-preloader">-->
        <!--<div class="preloader"></div>-->
        <!--</div>-->

        <div style='display:none' id='tab2-tpl'>
            <!--<li>-->
            <!--<a href="#"  class="item-link item-content external">-->
            <!--<div class="item-media">-->
            <!--<img src="__PUBLIC__/mobile/images/icon1.png" width="80"></div>-->
            <!--<div class="item-inner">-->
            <!--<div class="item-title">北京壹号院 精装修</div>-->
            <!--<div class="item-subtitle">朝阳-三里屯</div>-->
            <!--<div class="item-title-row">-->
            <!--<div class="item-text">2室2厅 整租</div>-->
            <!--<div class="item-after">5000元/m²</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
        </div>

    </div>
</div>

<include file="Public:leftbox"/>
<include file="Public:rightbox"/>
<include file="Public:footerjs"/>
<include file="Public:leftrightjs"/>
<script>


</script>
<include file="Public:footer"/>
