<include file="Public:header"/>
<include file="Public:menu" active="专项能源"/>

<!-- tab1  -->
<div class="page page-goods" style="display: block">
    <header class="bar bar-nav">
        <a class="icon icon-me pull-left atp-leftbtn"></a>
        <a class="icon icon-star pull-right atp-rightbtn"></a>
        <h1 class="title">专项能源</h1>
    </header>

    <div class="content infinite-scroll">
        <!-- 轮播图 -->
        <div class="swiper-container swiper-container-horizontal" data-space-between="10">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" >
                        <img class='card-cover' src="__PUBLIC__/mobile/images/p1.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" >
                        <img class='card-cover' src="__PUBLIC__/mobile/images/p1.png" alt="">
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"><span
                    class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                    class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
        </div>

        <div class="weui-grids">
            <a href="__MODULE__/Index/index?regiontype=sn&snname=zljf" class="weui-grid js_grid external">
                <div class="weui-grid__icon"><img src="__PUBLIC__/mobile/images/zljf.png" alt=""></div>
                <p class="weui-grid__label">制冷机房</p></a>
            <a href="__MODULE__/Index/index?regiontype=sn&snname=pds" class="weui-grid js_grid external" >
                <div class="weui-grid__icon"><img src="__PUBLIC__/mobile/images/pds.png" alt=""></div>
                <p class="weui-grid__label">配电室</p></a>
            <a href="__MODULE__/Index/index?regiontype=sn&snname=glf" class="weui-grid js_grid external" >
                <div class="weui-grid__icon"><img src="__PUBLIC__/mobile/images/glf.png" alt=""></div>
                <p class="weui-grid__label">锅炉房</p></a>
            <a href="__MODULE__/Index/index?regiontype=sn&snname=tsg" class="weui-grid js_grid external" >
                <div class="weui-grid__icon"><img src="__PUBLIC__/mobile/images/tsg.png" alt=""></div>
                <p class="weui-grid__label">图书馆</p></a>
            <a href="__MODULE__/Index/index?regiontype=sn&snname=yj" class="weui-grid js_grid external" >
                <div class="weui-grid__icon"><img src="__PUBLIC__/mobile/images/yj.png" alt=""></div>
                <p class="weui-grid__label">邮局</p></a>
            <a href="__MODULE__/Index/index?regiontype=sn&snname=whhdzj" class="weui-grid js_grid external" >
                <div class="weui-grid__icon"><img src="__PUBLIC__/mobile/images/whhdz.png" alt=""></div>
                <p class="weui-grid__label">文化活动中心</p></a>

        </div>
    </div>
</div>

<include file="Public:leftbox"/>
<include file="Public:rightbox"/>
<include file="Public:footerjs"/>
<include file="Public:leftrightjs"/>
<script>

</script>
<include file="Public:footer"/>