<include file="Public:header"/>
<include file="Public:menu" active="审批中心"/>

<!-- tab1  -->
<div class="page page-goods" style="display: block">
    <header class="bar bar-nav">
        <a class="icon icon-me pull-left atp-leftbtn"></a>
        <a class="icon icon-star pull-right atp-rightbtn"></a>
        <h1 class="title">入库审批</h1>
    </header>
    <div class="content" id='detail-page'>
        <div class="page-detail">
            <div class='content-block goods-card'>
                <h3>名字：入库单001</h3>
                <p>时间：2017-11-10 18:53:41</p>
                <p>类别：入库</p>
                <p>入库类别：安装表入库</p>
                <p>数量：2</p>
                <p>验收人：admin</p>
                <p>验收时间：2017-11-10 18:56:23</p>
                <p>验收时间：2017-11-10 18:56:23</p>
                <p>操作：</p>
                <p>
                    <span class="button button-fill button-success already" style="margin-bottom: 12px" onclick='$.toast("你点击了通过");'>通过</span>
                    <span class="button button-fill button-danger ignore" style="margin-bottom: 12px" onclick='$.toast("你点击了打回");'>打回</span>
                </p>
            </div>

            <div class='content-block goods-card'>
                <h3>设备卡编号：LNB001</h3>
                <p>设备：智能冷暖表</p>
                <p>采集号：LNB001</p>
                <p>入库时间：2017-11-10 19:02:39</p>
                <p>入库类型：采购入库</p>
                <p>库存件类别：新件</p>
                <p>库存备注：</p>
            </div>
            <div class='content-block goods-card'>
                <h3>设备卡编号：LNB002</h3>
                <p>设备：智能冷暖表</p>
                <p>采集号：LNB001</p>
                <p>入库时间：2017-11-10 19:02:39</p>
                <p>入库类型：采购入库</p>
                <p>库存件类别：新件</p>
                <p>库存备注：</p>
            </div>
        </div>
    </div>
</div>

<include file="Public:leftbox"/>
<include file="Public:rightbox"/>
<include file="Public:footerjs"/>
<include file="Public:leftrightjs"/>
<script>


</script>
<include file="Public:footer"/>