<div class="modal-dialog" style="width: 1000px;z-index: 10;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">出库设备卡<span style="color: red;">【只能选择一个】</span></h4>
        </div>
        <div class="modal-body">
            <form onkeydown="if(event.keyCode==13){return false;}"  id="sys_dlg_device_form" role="form" class="form-horizontal">
                <table id="atpbiztable_device" ></table>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
            <button type="button" name="bc" data-dismiss="modal" id="sys_dlg_device_submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="z-index: -101;"></div>
<script>
    $(function () {

        $(".js-switch").each(function(){
            new Switchery(this, {color: '#1AB394'});
        });
        $(".file-pretty").prettyFile();
        $(".chosen-select").chosen({disable_search_threshold: 10, search_contains: true,width:'288px'});
       /****************************************************************************************************************/
        $('#atpbiztable_device').bootstrapTable({
            url: '__CONTROLLER__/getDeviceData?rgn_atpid={$Think.get.rgn_atpid}',         //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
//        toolbar: '#atpbiztable_info',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            iconSize: 'outline',
            sortable: true,                     //是否启用排序
            sortName:"",
            sortOrder: "",                   //排序方式
            queryParams: queryParams,//传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [5,10, 25, 50, 100],        //可供选择的每页的行数（*）
            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
//            strictSearch: true,
            showColumns: false,                  //是否显示所有的列
            showRefresh: false,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
//            height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "dev_atpid",                     //每一行的唯一标识，一般为主键列
//            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
//            cardView: true,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            // detailFormatter: "detailFormatter",
            columns: [
                [
                    {checkbox:true},
                    {title: '序号', width: 50,
                        formatter: function (value, row, index)
                        {
                            var option =  $('#atpbiztable').bootstrapTable("getOptions");
                            return option.pageSize * (option.pageNumber - 1) + index + 1;
                        }
                    },
                    {field: 'dev_code', title: '设备编号',width: 150, align:'center', valign:'middle',sortable: true},
                    {field: 'dm_name', title: '设备',width: 150, align:'center', valign:'middle',sortable: true,
                        formatter: function (value, row, index) {
                            var inp = "'"+  row.dm_atpid +"'";
                            var value = value;
                            if (null != value){
                                var a = '<a onclick="check ('+ inp +')">'+value+'</a>&nbsp;<br>';
                            }
                            return a;
                        }
                    },
                    {field: 'dev_acquisition', title: '采集号',width: 100, align:'center', valign:'middle',sortable: true},
                 //   {field: 'dev_instockdate', title: '入库时间',width: 100, align:'center', valign:'middle',sortable: true},
                  //  {field: 'dev_instocktype', title: '入库类型',width: 100, align:'center', valign:'middle',sortable: true},
                  //  {field: 'dev_kcstatus', title: '库存件类别',width: 100, align:'center', valign:'middle',sortable: true},
//                    {field: 'dev_remark', title: '库存备注',width: 100, align:'center', valign:'middle',sortable: true},
                ]
            ],
            onDblClickRow: function (row) {

            },
            onSort: function (name, order) {
//                console.log(name+order);
            }
        });
    });
</script>
