<h2>进度说明</h2>


<p><b>进度说明：20171023-20171025</b></p>
<p>1、完成2.5维图的设计工作</p>
<p>2、初步完成园区漫游</p>
<p>3、完成库存管理、库存相关审批功能的开发</p>



<p><b>进度说明：20171016-20171019</b></p>
<p>根据上周沟通情况，完成基本功能的全部开发，鸟瞰图已按照客户要求调整</p>
<p><a href="__PUBLIC__/img/process.pdf" target="_blank">点击查看本周进度</a></p>


<p><b>进度说明：20170925-20170930</b></p>
<p>针对《能源管理系统修改意见2.0（改）20170927-01.pdf》的修改说明，目前除了《数据修正》、《库存》这两块还在设计中，其余功能点已完成设计并在DEMO中体现</p>
<p><a href="__PUBLIC__/img/sznymobiledemo.pdf" target="_blank">点击浏览移动版原型(PDF)</a></p>





<p><b>进度说明：20170925-20170931</b></p>
<p><img width="800px" src="__PUBLIC__/img/2017-09-30_16-13-47.png"></p>
<p><img width="800px" src="__PUBLIC__/img/2017-09-30_19-29-40.png"></p>


<p><b>进度说明：20170918-20170924</b></p>
<p><img width="800px" src="__PUBLIC__/img/2017-09-24_15-23-48.png"></p>
<p><img width="800px" src="__PUBLIC__/img/2017-09-24_15-16-14.png"></p>

<p><b>进度说明：20170911-20170917</b></p>
<p>1、完成DEMO原型的深度优化</p>
<p>2、完成DEMO原型配色修改</p>
<p>3、完成Admin功能第一版，地址：http://www.sgqnmall.com/szny/index.php/Admin</p>
<p>3.1、初步完成《用户权限管理》</p>
<p>3.2、初步完成《基础数据管理》</p>
<p>3.3、初步完成《系统管理》</p>
<p>3.4、初步完成《设备管理》</p>
<p>4、优化数据库设计</p>
<p>5、完成设备采集软件初步开发</p>
<br/>
<p><b>进度说明：20170904-20170910</b></p>
<p>1、初步完成原型</p>
<p>2、完成初步数据库设计</p>
