<div class="modal-dialog" style="width: 900px;z-index: 10;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">数据搜索</h4>
        </div>

        <form onkeydown="if(event.keyCode==13){return false;}"  id="sys_dlg_form" role="form" class="form-horizontal">
            <div class="modal-body">
                <div>
                    <div class="tab-content">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><span style="color: red">*</span>开始月份 ：</label>
                                    <div class="col-sm-4">
                                        <input id="month_start" name="" value="" type="text" class="form-control" onClick="WdatePicker({dateFmt:'yyyy-MM'})" required>
                                    </div>
                                    <label class="col-sm-2 control-label"><span style="color: red">*</span>结束月份：</label>
                                    <div class="col-sm-4">
                                        <input id="month_end" value="" type="text"  class="form-control" onClick="WdatePicker({dateFmt:'yyyy-MM'})" required>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <input name="category_month" type="hidden" value="month" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
                <button type="button" id="sys_dlg_submit" class="btn btn-primary">搜索</button>
            </div>
        </form>
    </div>
</div>
<div class="modal-backdrop fade in" style="z-index: -101;"></div>
<script>
    $(function () {
        $(".js-switch").each(function () {
            new Switchery(this, {color: '#1AB394'});
        });
        $(".file-pretty").prettyFile();

        $(".chosen-select").chosen({disable_search_threshold: 10, search_contains: true, width: '250px'});

    });
</script>