﻿<div class="modal-dialog" style="width: 1000px;z-index: 10;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                数据编辑
                <!--<if condition="$data['rgn_pregionid'] eq $data_region[0]['rgn_atpid']"> <span style="color: red">【所属区域：{$data_region[0]['rgn_name']}】</span></if>-->
            </h4>
        </div>
        <div class="modal-body">
            <form onkeydown="if(event.keyCode==13){return false;}"  id="sys_dlg_form" role="form" class="form-horizontal">
                <div>
                    <!--<ul class="nav nav-tabs">-->
                        <!--&lt;!&ndash;<li class="active"><a data-toggle="tab" href="#tab-1">基础信息</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class=""><a data-toggle="tab" href="#tab-2">球员/领队信息</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class=""><a data-toggle="tab" href="#tab-3">裁判信息</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class=""><a data-toggle="tab" href="#tab-4">保险信息</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <if condition="$data['rdm_devicemodelid'] neq ''">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            设备：
                                        </label>
                                        <div class="col-sm-4">
                                            <select name="rdm_devicemodelid" id="rdm_devicemodelid" class="chosen-select" disabled="true">
                                                <option value="">&nbsp;==请选择==</option>
                                                <foreach name="data" item="d_v" key="d_k" >
                                                    <option value="{$data.rdm_devicemodelid}" <if condition="$data['rdm_devicemodelid'] eq $data['dm_atpid']">selected<else /></if>>{$data.dm_name}</option>
                                                </foreach>
                                            </select>
                                        </div>
                                    </div>
                                    <else/>
                                    <input name="dm_atpid" type="hidden" value="{$Think.get.dm_atpid}" class="form-control">
                                </if>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        角色：
                                    </label>
                                    <div class="col-sm-4">
                                        <select name="rdm_roleid" id="rdm_roleid" class="chosen-select" >
                                            <option value="">&nbsp;==请选择==</option>
                                            <foreach name="ds_role" item="r_v" key="r_k" >
                                                <option value="{$r_v.role_atpid}" <if condition="$data['rdm_roleid'] eq $r_v['role_atpid']">selected<else /></if>>{$r_v.role_name}</option>
                                            </foreach>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<input name="rgn_atpid" type="hidden" value="{$data.rgn_atpid}" class="form-control">-->
                <input name="rdm_atpid" type="hidden" value="{$data.rdm_atpid}" class="form-control">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
            <button type="button" name="bc" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="z-index: -101;"></div>
<script>
$(function () {
    $(".js-switch").each(function(){
        new Switchery(this, {color: '#1AB394'});
    });

    $(".file-pretty").prettyFile();
//    $("#rdm_roleid").chosen({disable_search_threshold: 6, search_contains: true,width:'750px'});
    $(".chosen-select").chosen({disable_search_threshold: 6, search_contains: true,width:'284px'});



});
</script>