.list-block ul {
	background: none;
}
body {
	background: #333;
	color: #999;
}
.page {
	background: #333;
}
.bar {
	background: #333;
} 
.title {
	color: #999;
}
.card {
	background: #333;
}

.page-settings .row {
	background: #333;
}


.atp-person {
  background: #333;
}


.buttons-tab {
	background: #333;
}

.popup {
	background: #333;
}

