<div class="modal-dialog" style="width: 1000px;z-index: 10;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">数据编辑</h4>
        </div>
        <div class="modal-body">
            <form onkeydown="if(event.keyCode==13){return false;}"  id="sys_dlg_form" role="form" class="form-horizontal">


                <div>

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        设备名称：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="part_name" type="text" value="{$data.part_name}" class="form-control" readonly="true">
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        现有数量：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="part_num" type="text" value="{$data.part_num}" class="form-control" readonly="true">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        选择操作：
                                    </label>
                                    <div class="col-sm-4">
                                        <select name="operationtype" id="operationtype" class="chosen-select">
                                            <option value="1">出库</option>
                                            <option value="2">入库</option>
                                        </select>
                                    </div>

                                    <label class="col-sm-2 control-label">
                                        操作数量：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="operationnum" id="operationnum" type="text" value="0" class="form-control" onKeyUp="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <input name="part_num" id="part_num" type="hidden" value="{$data.part_num}" class="form-control">
                <input name="part_atpid" type="hidden" value="{$data.part_atpid}" class="form-control">

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
            <button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="z-index: -101;"></div>
<script>
    $(function () {
        $(".js-switch").each(function(){
            new Switchery(this, {color: '#1AB394'});
        });
        $(".file-pretty").prettyFile();
        $(".chosen-select").chosen({disable_search_threshold: 6, search_contains: true,width:'284px'});
    });
</script>