<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>楼层首页</title>
    <link rel="stylesheet" href="__PUBLIC__/vendor/diy_component/yuanqu_page/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/diy_component/yuanqu_page/css/house1.css">
    <style>

        .alarmdian1_current {  left: 43.6%;  top: 22%;  position: absolute;  }
        .alarmdev1_current {  left: 43%;  top: 33%;  position: absolute;  }
        .alarmdev2_current {  left: 32%;  top: 31%;  position: absolute;  }
        .alarmdev3_current {  left: 32%;  top: 35%;  position: absolute;  }
        .alarmdev4_current {  left: 34%;  top: 27%;  position: absolute;  }
        .alarmdev5_current {  left: 34%;  top: 23%;  position: absolute;  }
        .alarmdev6_current {  left: 48%;  top: 15%;  position: absolute;  }
        .alarmdev7_current {  left: 46%;  top: 13%;  position: absolute;  }
        .alarmdev8_current {  left: 53%;  top: 7%;  position: absolute;  }
        .alarmdev9_current {  left: 51%;  top: 6%;  position: absolute;  }
        .alarmdev10_current {  left: 56%;  top: 3%;  position: absolute;  }
        .alarmdev11_current {  left: 56%;  top: 0%;  position: absolute;  }
        .alarmdev12_current {  left: 68%;  top: 20%;  position: absolute;  }
        .alarmdev13_current {  left: 28%;  top: 54%;  position: absolute;  }
        .alarmdev14_current {  left: 39%;  top: 37%;  position: absolute;  }
        .alarmdev15_current {  left: 37%;  top: 39%;  position: absolute;  }

        .alarmdian1 {  left: 43.6%;  top: 29%;  position: absolute;  }
        .alarmdev1 {  left: 43%;  top: 40%;  position: absolute;  }
        .alarmdev2 {  left: 32%;  top: 38%;  position: absolute;  }
        .alarmdev3 {  left: 32%;  top: 42%;  position: absolute;  }
        .alarmdev4 {  left: 34%;  top: 34%;  position: absolute;  }
        .alarmdev5 {  left: 34%;  top: 30%;  position: absolute;  }
        .alarmdev6 {  left: 48%;  top: 22%;  position: absolute;  }
        .alarmdev7 {  left: 46%;  top: 20%;  position: absolute;  }
        .alarmdev8 {  left: 53%;  top: 14%;  position: absolute;  }
        .alarmdev9 {  left: 51%;  top: 13%;  position: absolute;  }
        .alarmdev10 {  left: 56%;  top: 10%;  position: absolute;  }
        .alarmdev11 {  left: 56%;  top: 7%;  position: absolute;  }
        .alarmdev12 {  left: 68%;  top: 27%;  position: absolute;  }
        .alarmdev13 {  left: 28%;  top: 61%;  position: absolute;  }
        .alarmdev14 {  left: 39%;  top: 44%;  position: absolute;  }
        .alarmdev15 {  left: 37%;  top: 46%;  position: absolute;  }
    </style>
</head>
<body>

<div class="full_building">


  <!--  当前层报警信息霍尼韦尔不可操作-->



    <notempty name="$bjdata[0].dev_name">
        <div class="unusual1 unusual" style="z-index:9999;">
            <p>表类型：{$bjdata[0].dev_name}</p>
            <p>报警等级：{$bjdata[0].alm_level}</p>
            <p>报警信息：{$bjdata[0].alm_content}</p>
            <p>设备采集号：{$bjdata[0].dev_acquisition}</p>
            <p>设备位置点：{$bjdata[0].rgn_name}</p>
            <if condition="$Think.session.is_hnwl eq ''">
            <p>报警确认状态： <button onclick="dodetail()">待确认</button>&nbsp;<button onclick="domiss()">关闭</button></p>
            </if>
        </div>
   </notempty>







   <!-- 这里一层用的二层的图到时在替换-->

    <img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/1/1-1F.png" width="60%" style="margin-top: 50px">





    <!--别的页面跳转过来该设备的的时候在该设备上面加一个向下的图标-->
    <foreach name="sbdstatus" item="dvdetail"  >

        <!--一个电表对应多个设备点-->
        <if condition="$key == 'dian'">
            <?php if (in_array($currentid, $dvdetail['rgnids'])) { ?>
            <img class="alarmimg alarmdian1_current" src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/arrow.gif" />

          <?php  }  ?>

          <!--  __MODULE__/Rg/indexparkoverviewshell?regionlevel=devicepoint&rgn_atpid={$dvdetail.dev_regionid}-->
                <!-- 每个设备点的图片与悬浮框信息有报警误报警图片不同-->
                <a href="#" id="sys_checkone"
                   class="alarmimg alarmdian1"
                   data-mtpis='
                   <foreach item="item" name="dvdetail.data">

                   <p>型号:<span>{$item.dev_name}</span>&nbsp;&nbsp;&nbsp;采集号:{$item.dev_acquisition}&nbsp;&nbsp;&nbsp;报警数目:<font color="red">{$item.alarmcount}</font>个</p>
                   </foreach>
                 '>
                    <if condition="$dvdetail['bj'] neq '0'">
                        <img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/dian1.png"  />
                        <else/>
                        <img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/dian.png"  />
                    </if>

                </a>

        <else/>
                <if condition="($Think.get.rgn_atpidcurrent neq null ) and ($Think.get.rgn_atpidcurrent eq $dvdetail['dev_regionid'])">
                    <img class="alarmimg alarmdev{$key}_current" src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/arrow.gif" />
                    <else/>
                </if>

            <!-- 每个设备点的图片与悬浮框信息有报警误报警图片不同-->
            <a href="__MODULE__/Rg/indexparkoverviewshell?regionlevel=devicepoint&rgn_atpid={$dvdetail.dev_regionid}"
               class="alarmimg alarmdev{$key}"
               data-mtpis='
               <p>型号:{$dvdetail.dev_name}</p>
               <p>采集号:{$dvdetail.dev_acquisition}</p>
               <p>报警数目:<font color="red">{$dvdetail.alarmcount}</font>个
               </p>'
                    >

                <if condition="($dvdetail['dev_name'] eq '水表')">
                    <if condition="$dvdetail['alarmcount'] neq '0'">
                        <img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/shui1.png"  />
                     <else/>
                        <img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/shui.png"  />
                    </if>
                <else/>
                </if>
                <if condition="($dvdetail['dev_name'] eq '冷暖表')">
                    <if condition="$dvdetail['alarmcount'] neq '0'">
                        <img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/nuan1.png"  />
                        <else/>
                        <img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/nuan.png"  />
                    </if>
              <else/>
                </if>
            </a>
    </if>



    </foreach>

</div>

<div class="list-right">
    <a class="energy_message" target="_self">

            <!-- 需要注意一楼网上没有自动展开效果-->
            <!-- 有无报警总数展示不同的效果这里只是报警信息-->
            <if condition="$b1_flr_8 neq 0">
                <!--头部调到相应层数控制器展示对应层信息-->
                <header style="background: #fc9900;cursor: pointer;" onclick="window.location.href='__CONTROLLER__/F1_ceng8F'">
                    <p class="fl">8F（报警总数：{$b1_flr_8}）</p>
                   <!-- 更多调到详情页-->
                    <span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid481CB98D-885E-4316-AB13-0D4394AA3A95';preventBubble();">更多</span>
                </header>
                <else />
                <header onclick="window.location.href='__CONTROLLER__/F1_ceng8F'">
                    <p class="fl">8F</p>
                    <span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid481CB98D-885E-4316-AB13-0D4394AA3A95';preventBubble();">更多</span>
                </header>
            </if>

    </a>


    <a class="energy_message" target="_self">
        <if condition="$b1_flr_7 neq 0">
            <header style="background: #fc9900;cursor: pointer;" onclick="window.location.href='__CONTROLLER__/F1_ceng7F'"><p class="fl">7F（报警总数：{$b1_flr_7}）</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid5F12DA1F-B476-476E-804D-78956D6EC1D5';preventBubble();">更多</span></header>
            <else />
            <header onclick="window.location.href='__CONTROLLER__/F1_ceng7F'"><p class="fl">7F</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid5F12DA1F-B476-476E-804D-78956D6EC1D5';preventBubble();">更多</span></header>
        </if>
    </a>




    <a class="energy_message" target="_self">
        <if condition="$b1_flr_6 neq 0">
            <header style="background: #fc9900;cursor: pointer;" onclick="window.location.href='__CONTROLLER__/F1_ceng6F'"><p class="fl">6F（报警总数：{$b1_flr_6}）</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guidBD82C01A-DB01-4918-BDCF-8BE8BB6A9837';preventBubble();">更多</span></header>
            <else />
            <header onclick="window.location.href='__CONTROLLER__/F1_ceng6F'"><p class="fl">6F</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guidBD82C01A-DB01-4918-BDCF-8BE8BB6A9837';preventBubble();">更多</span></header>
        </if>
    </a>



    <a class="energy_message" target="_self">
        <if condition="$b1_flr_5 neq 0">
            <header style="background: #fc9900;cursor: pointer;" onclick="window.location.href='__CONTROLLER__/F1_ceng5F'"><p class="fl">5F（报警总数：{$b1_flr_5}）</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid8DEB922A-DA0C-443E-A36E-7494A19D28E7';preventBubble();">更多</span></header>
            <else />
            <header onclick="window.location.href='__CONTROLLER__/F1_ceng5F'"><p class="fl">5F</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid8DEB922A-DA0C-443E-A36E-7494A19D28E7';preventBubble();">更多</span></header>
        </if>
    </a>
    <a class="energy_message" target="_self">
        <if condition="$b1_flr_4 neq 0">
            <header style="background: #fc9900;cursor: pointer;" onclick="window.location.href='__CONTROLLER__/F1_ceng4F'"><p class="fl">4F（报警总数：{$b1_flr_4}）</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid99BB14E0-C216-4780-830B-CF896EBFFE7E';preventBubble();">更多</span></header>
            <else />
            <header onclick="window.location.href='__CONTROLLER__/F1_ceng4F'"><p class="fl">4F</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid99BB14E0-C216-4780-830B-CF896EBFFE7E';preventBubble();">更多</span></header>
        </if>
    </a>



    <a class="energy_message" target="_self">
        <if condition="$b1_flr_3 neq 0">
            <header style="background: #fc9900;cursor: pointer;" onclick="window.location.href='__CONTROLLER__/F1_ceng3F'"><p class="fl">3F（报警总数：{$b1_flr_3}）</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid7E36DAD8-2A4C-423F-A80C-5FB3D2630DED';preventBubble();">更多</span></header>
            <else />
            <header onclick="window.location.href='__CONTROLLER__/F1_ceng3F'"><p class="fl">3F</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid7E36DAD8-2A4C-423F-A80C-5FB3D2630DED';preventBubble();">更多</span></header>
        </if>
    </a>



    <a class="energy_message" target="_self">
        <if condition="$b1_flr_2 neq 0">
            <header style="background: #fc9900;cursor: pointer;" onclick="window.location.href='__CONTROLLER__/F1_ceng2F'"><p class="fl">2F（报警总数：{$b1_flr_2}）</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid7007AC27-6A45-4C1A-894D-0F41EAC2DF49';preventBubble();">更多</span></header>
            <else />
            <header onclick="window.location.href='__CONTROLLER__/F1_ceng2F'"><p class="fl">2F</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid7007AC27-6A45-4C1A-894D-0F41EAC2DF49';preventBubble();">更多</span></header>
        </if>
    </a>



    <a class="energy_message cur" target="_self">
        <if condition="$b1_flr_1 neq 0">
            <header style="background: #fc9900;cursor: pointer;" onclick="window.location.href='__CONTROLLER__/F1_ceng1F'"><p class="fl">1F（报警总数：{$b1_flr_1}）</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid3FF2D862-1E6E-400A-A9BB-278A072F1793';preventBubble();">更多</span></header>
            <else />
            <header onclick="window.location.href='__CONTROLLER__/F1_ceng1F'"><p class="fl">1F</p><span class="fr zhankai" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid3FF2D862-1E6E-400A-A9BB-278A072F1793';preventBubble();">更多</span></header>
        </if>
        <div class="alarmlist">
            <ul>
              <!--  霍尼韦尔点击报警信息跳转的也是详细信息页面不会显示报警页面-->

                    <foreach item="bj" name="bjdata">
                    <li class="border_bottom clearfix" onclick="window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid3FF2D862-1E6E-400A-A9BB-278A072F1793&rgn_atpidcurrent={$bj.rgn_atpid}'">
                        <div class="fl tips">{$bj.dev_name}</div>
                        <div class="ll content">
                            <div class="fl bold">{$bj.rgn_name}</div>
                            <div class="fr text_right bold">{$bj.alm_datetime|substr=5}</div><br>
                            <div class="fl bold">{$bj.alm_content}</div>
                        </div>
                    </li>
                    </foreach>

            </ul>
            <div class="listfooter">
                <div><p>当日电能</p><p><if condition="$dayused.ydl eq ''">0Kwh<else />{$dayused.ydl}Kwh</if></p></div>
                <div><p>当日用水量</p><p><if condition="$dayused.ysl eq ''">0T<else />{$dayused.ysl}T</if></p></div>
                <div><p>当日热能</p><p><if condition="$dayused.ynl eq ''">0Kwh<else />{$dayused.ynl}Kwh</if></p></div>
                <div><p>当日冷能</p><p><if condition="$dayused.yll eq ''">0Kwh<else />{$dayused.yll}Kwh</if></p></div>
            </div>
        </div>
    </a>


</div>

<div class="total1">
    <header><p class="fl">1#1层当月能耗&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-size: 8px;"><?php echo '刷新时间:'.date('G:i:s').'(频率60秒)'; ?></span> </p><span class="fr zhankai"></span></header>
    <div class="totalcontent clearfix">
        <img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/building.png" class="fl totalhouse">
        <div class="rightcontent fr">
            <ul>
                <li><i class="green"></i>电能消耗：{$zydl}Kwh</li>
                <li><i class="blue"></i>水能消耗：{$zysl}T</li>
                <li><i class="orange"></i>暖能消耗：{$zynl}Kwh</li>
                <li><i class="qing"></i>冷能消耗：{$zyll}Kwh</li>
                <input type="hidden" id="rid" value="{$rgnid}">
            </ul>
        </div>
    </div>
</div>
<div id="sys_dlg" role="dialog" class="modal fade "></div>

<include file="Parkoverview:alarm_icon_description"/>

<script src="__PUBLIC__/vendor/diy_component/yuanqu_page/js/jquery-1.12.4.js"></script>
<script src="__PUBLIC__/vendor/diy_component/yuanqu_page/js/layer/layer.js"></script>


<script src="__PUBLIC__/vendor/diy_component/yuanqu_page/js/mTips.js"></script>
<script>
    $('#sys_checkone').on('click',function() {
            jsonstrig=$("#rid").val();
           /* $.post(url,{rgjson:jsonstring},function(result){ //通过Ajax发送请求到后台*/
                layer.open({
                    type: 2,
                    title:'点击查看详情',
                    fix: false,
                    maxmin: true,
                    shadeClose: true,
                    shade: 0.8,
                    area: ['1000px', '700px'],
                    content: "__CONTROLLER__/checkone?rgjson="+jsonstrig,
                    end: function () {
                        location.reload();
                    }

                });
          /*  });*/



    });
    setInterval(function(){
        location.reload();
    },60*1000);

    function dodetail() {
        window.location.href='__MODULE__/Rg/indexparkoverviewshell?regionlevel=region&rgn_atpid=guid3FF2D862-1E6E-400A-A9BB-278A072F1793&rgn_atpidcurrent={$bjdata[0].rgn_atpid}';
    }

    function domiss() {
        $(".unusual1").remove();
    }

    function preventBubble(event){
        var e=arguments.callee.caller.arguments[0]||event; //若省略此句，下面的e改为event，IE运行可以，但是其他浏览器就不兼容
        if (e && e.stopPropagation) {
            e.stopPropagation();
        } else if (window.event) {
            window.event.cancelBubble = true;
        }
    }
</script>
</body>
</html>