<include file="Public:header"/>

<!--<?php if(I('get.regiontype')=='rg') { ?>-->
<!--<include file="Public:menu" active="园区漫游"/>-->
<!--<?php }elseif (I('get.regiontype')=='sn') { ?>-->
<!--<include file="Public:menu" active="专项能源"/>-->
<!--<?php } ?>-->
<include file="Public:menu" active="审批中心"/>

<!-- tab1  -->
<div class="page page-goods" style="display: block">

    <header class="bar bar-nav">
        <a class="icon icon-me pull-left atp-leftbtn"></a>
        <a class="icon icon-star pull-right atp-rightbtn"></a>
        <h1 class="title">审批中心</h1>
    </header>
    <div class="content" id='detail-page'>
        <div class="weui-grid__icon" style="width: 90%;height:320px;margin-top: 20%;">
            <image src="__PUBLIC__/mobile2/img/developing.png" style="width: 320px;margin:0 auto;"></image>
        </div>

    </div>
</div>

<include file="Public:leftbox"/>
<include file="Public:rightbox"/>
<include file="Public:footerjs"/>
<include file="Public:leftrightjs"/>
<include file="Public:footer"/>

