<div class="modal-dialog" style="width: 1000px;z-index: 10;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">报警忽略理由</h4>
        </div>
        <div class="modal-body">
            <form onkeydown="if(event.keyCode==13){return false;}"  id="sys_dlg_form" role="form" class="form-horizontal">
                <div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        忽略理由：
                                    </label>
                                    <div class="col-sm-10">
                                        <!--<input name="alm_disposeresult" id="alm_disposeresult" type="text"  value="" class="form-control">-->
                                        <input name="alm_discribe" id="alm_discribe" type="text"  value="" class="form-control">

                                        <input name="alm_atpid" id="alm_atpid" type="hidden"  value="{$Think.get.alm_atpid}" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
            <button type="button" name="bc" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="z-index: -101;"></div>
<script>
    $(function () {
        $(".js-switch").each(function(){
            new Switchery(this, {color: '#1AB394'});
        });
        $(".file-pretty").prettyFile();
        $("#module").chosen({disable_search_threshold: 3, search_contains: true,width:'650px'});
        $(".chosen-select").chosen({disable_search_threshold: 3, search_contains: true,width:'284px'});
    });
</script>