﻿<div class="modal-dialog" style="width: 1000px;z-index: 10;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">数据编辑</h4>
        </div>
        <div class="modal-body">
            <form onkeydown="if(event.keyCode==13){return false;}"  id="sys_dlg_form" role="form" class="form-horizontal">
                <div>
                    <!--<ul class="nav nav-tabs">-->
                        <!--&lt;!&ndash;<li class="active"><a data-toggle="tab" href="#tab-1">基础信息</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class=""><a data-toggle="tab" href="#tab-2">球员/领队信息</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class=""><a data-toggle="tab" href="#tab-3">裁判信息</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class=""><a data-toggle="tab" href="#tab-4">保险信息</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">报警设备：</label>
                                    <div class="col-sm-4">
                                        <input name="emp_account" type="text" value="{$data[0]['dev_name']}" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label">报警时间：</label>
                                    <div class="col-sm-4">
                                        <input name="emp_password" type="text" value="{$data[0]['alm_datetime']}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <!--<span style="color:#FF0033;">*</span>-->
                                        等级：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="emp_name" type="text"  value="{$data[0]['alm_level']}" class="form-control">
                                        <!--<p class="help-block" id="u_name_p" style="color: #CD0200;display:none">必填项！</p>-->
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        <!--<span style="color:#FF0033;">*</span>-->
                                        类别：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="emp_codename" type="text"  value="{$data[0]['alm_category']}" class="form-control">
                                        <!--<p class="help-block" id="u_name_p" style="color: #CD0200;display:none">必填项！</p>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <!--<span style="color:#FF0033;">*</span>-->
                                        内容：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="emp_category" type="text"  value="{$data[0]['alm_content']}" class="form-control">
                                        <!--<p class="help-block" id="u_name_p" style="color: #CD0200;display:none">必填项！</p>-->
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        <!--<span style="color:#FF0033;">*</span>-->
                                        处理人：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="emp_category" type="text"  value="{$data[0]['emp_name']}" class="form-control">
                                        <!--<p class="help-block" id="u_name_p" style="color: #CD0200;display:none">必填项！</p>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <!--<span style="color:#FF0033;">*</span>-->
                                        报警处理状态：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="emp_mainphone" type="text"  value="{$data[0]['alm_disposestatus']}" class="form-control">
                                        <!--<p class="help-block" id="u_name_p" style="color: #CD0200;display:none">必填项！</p>-->
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        <!--<span style="color:#FF0033;">*</span>-->
                                        处理时间：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="emp_duty" type="text"  value="{$data[0]['alm_disposedate']}" class="form-control">
                                        <!--<p class="help-block" id="u_name_p" style="color: #CD0200;display:none">必填项！</p>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <!--<span style="color:#FF0033;">*</span>-->
                                        处理方法：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="emp_indatetime" type="text"  value="{$data[0]['alm_disposemethod']}" class="form-control">
                                        <!--<p class="help-block" id="u_name_p" style="color: #CD0200;display:none">必填项！</p>-->
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        <!--<span style="color:#FF0033;">*</span>-->
                                        处理结果：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="emp_outdatetime" type="text"  value="{$data[0]['alm_disposeresult']}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="form-control">
                                        <!--<p class="help-block" id="u_name_p" style="color: #CD0200;display:none">必填项！</p>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <input name="emp_atpid" type="hidden" value="{$data.emp_atpid}" class="form-control">
            </form>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button> -->
            <button type="button" name="bc" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary">关闭</button>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="z-index: -101;"></div>
<script>
$(function () {
    $(".js-switch").each(function(){
        new Switchery(this, {color: '#1AB394'});
    });
    $(".file-pretty").prettyFile();
    $("#role").chosen({disable_search_threshold: 6, search_contains: true,width:'750px'});
    $("#department").chosen({disable_search_threshold: 6, search_contains: true,width:'750px'});
    $(".chosen-select").chosen({disable_search_threshold: 6, search_contains: true,width:'284px'});
});
</script>