.left-yibiao {
    float: left;
    width: 49%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 15px;
}
.msgtitle {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    padding-left: 15px;
    border-bottom: 1px solid #ddd;
}
.tablebox {
    padding: 15px;
}
.yibiao-top {
	padding: 15px;
    width: 100%;
}
.yibiao-top .onechart {
    border: 1px solid #ddd;
    float: left;
    width: 23.7%;
    margin-right: 14px;
    margin-bottom: 15px;
}
.yibiao-top .onechart:last-child {
    margin-right: 0px;
}

#water {
    border-bottom: 1px solid #ddd;
}
#electricity {
    border-bottom: 1px solid #ddd;
}
#hot {
    border-bottom: 1px solid #ddd;
}
#cold {
    border-bottom: 1px solid #ddd;
}
.backimg {
    margin-top: 15px;
}
.ecahrt {
    float: left;
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.content {
    margin-left: 2px;
}
#tab span {
	border: 1px solid #ccc;
	padding: 0 10px;
}
.select {
	font-weight: bold;
}
#tab-content li {
	display: none;
}
#tab-content li.show {
	display: block;
}
.yuanqutop {
    position: relative;
    width: 100%;
}
.chartmsg {
    background: #fff;
    display: flex;
    padding: 8px;
}
.chartmsg > div {
    color: #333;
    flex: 1;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.chartmsg > div >p:nth-child(2) {
    font-size: 10px;
    line-height: 30px;
}
.chartmsg > div:last-child {
    border-right: none;
}
.font16 {
    font-size: 16px;
}
.color_one {
    color: #6cc134;
}
.color_two {
    color: #f8bf50;
}
.color_three {
    color: #da1b1b;
}
.color_four {
    color: #0078d7;
}
