<div class="legend">
    <header><p class="fl">报警图标说明</p></header>
    <div class="totalcontent clearfix">
        <ul>
            <li><label for=""><img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/shui.png"></label>代表水表正常</li>
            <li><label for=""><img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/shui1.png"></label>代表水表异常</li>

            <li><label for=""><img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/dian.png"></label>代表电表正常</li>
            <li><label for=""><img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/dian1.png"></label>代表电表异常</li>

            <li><label for=""><img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/nuan.png"></label>代表冷暖表正常</li>
            <li><label for=""><img src="__PUBLIC__/vendor/diy_component/yuanqu_page/images/nuan1.png"></label>代表冷暖表异常</li>


        </ul>
    </div>
</div>