<include file="Public:header"/>

<?php if(I('get.regiontype')=='rg') { ?>
<include file="Public:menu" active="园区漫游"/>
<?php }elseif (I('get.regiontype')=='sn') { ?>
<include file="Public:menu" active="专项能源"/>
<?php } ?>

<!-- tab1  -->
<div class="page page-goods" style="display: block">
    <header class="bar bar-nav">
        <a class="icon icon-me pull-left atp-leftbtn"></a>
        <a class="icon icon-star pull-right atp-rightbtn"></a>
        <h1 class="title">设备状态</h1>
    </header>
    <div class="weui-cells" style="width: 90%;margin: 11px auto;margin-top: 50px;">
        <volist  name="DeviceInfo" id="vo">
            <div class="weui-cells" style="width: 90%;margin: 5px auto;">
                <div class="weui-cell" style="height: 36px;">
                    <div class="weui-cells__title" style="width: 40%;">位置点:</div>
                    <div class="weui-cell__bd" style="font-size: 13px;margin-bottom: -2%;">{$vo.rgn_name}</div>
                </div>
                <div class="weui-cell" style="height: 36px;">
                    <div class="weui-cells__title" style="width: 40%;">设备所在位置:</div>
                    <div class="weui-cell__bd" style="font-size: 13px;margin-bottom: -2%;">{$vo.rgn_path}</div>
                </div>
                <div class="weui-cell" style="height: 36px;">
                    <div class="weui-cells__title" style="width: 40%;"> 采集号:</div>
                    <div class="weui-cell__bd" style="font-size: 13px;margin-bottom: -2%;">{$vo.dev_acquisition}</div>
                </div>
                <div class="weui-cell" style="height: 36px;">
                    <div class="weui-cells__title" style="width: 40%;"> 设备卡编号:</div>
                    <div class="weui-cell__bd" style="font-size: 13px;margin-bottom: -2%;">{$vo.dev_code}</div>
                </div>
                <div class="weui-cell" style="height: 36px;">
                    <div class="weui-cells__title" style="width: 40%;"> 设备类型:</div>
                    <div class="weui-cell__bd" style="font-size: 13px;margin-bottom: -2%;">{$vo.dev_name}</div>
                </div>
                <div class="weui-cell" style="height: 42px;">
                    <div class="weui-cells__title" style="width: 40%;"> 最后上传时间:</div>
                    <div class="weui-cell__bd" style="font-size: 13px;margin-bottom: -2%;">
                        <if condition=" $vo.dev_lastuploadtime eq null">
                            无
                            <else/>
                            {$vo.dev_lastuploadtime}
                        </if>
                    </div>
                </div>
            </div>
        </volist>
        <empty name="DeviceInfo">
            <div class="weui-cell empty">
                        <span href="#" class="weui-cell_bd external" style="width:120px;font-size:14px;margin: 10px auto;color: #00a0e9;margin-left: 40%;">
                            暂无数据
                        </span>
            </div>
        </empty>
    </div>


</div>

<include file="Public:leftbox"/>
<include file="Public:rightbox"/>
<include file="Public:footerjs"/>
<include file="Public:leftrightjs"/>
<script>
    //修改园区节点
    $("#rgn_ids").on('change',function () {
        var rgn_atpid=$(this).val();
        var regiontype=GetQueryString('regiontype');
        var snname=GetQueryString('snname');
        var  pre_rgn_atpid=GetQueryString("pre_rgn_atpid");
        console.log(pre_rgn_atpid);
        if(pre_rgn_atpid==null)
        {
            pre_rgn_atpid = rgn_atpid;
        }
//        console.log(regiontype);
//        console.log(snname);
//        console.log(rgn_atpid);
        var html="__CONTROLLER__/index"+"?rgn_atpid="+rgn_atpid+"&regiontype="+regiontype+"&snname="+snname+"&pre_rgn_atpid="+pre_rgn_atpid;
        window.location.href=html;
    });
    //获得get参数的值
    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  decodeURI(r[2]); return null;
    }

</script>
<include file="Public:footer"/>