<include file="Public:header"/>

<?php if(I('get.regiontype')=='rg') { ?>
<include file="Public:menu" active="园区漫游"/>
<?php }elseif (I('get.regiontype')=='sn') { ?>
<include file="Public:menu" active="专项能源"/>
<?php } ?>

<!-- tab1  -->
<div class="page page-goods" style="display: block">

    <header class="bar bar-nav">
        <a class="icon icon-me pull-left atp-leftbtn"></a>
        <a class="icon icon-star pull-right atp-rightbtn"></a>
        <h1 class="title">设备状态</h1>
    </header>
    <div class="content">
        <div class="weui-cells" style="width: 90%; margin: 5px auto; height: 55px; font-size: 15px;">
            <div class="weui-cell" >
                <select  class="weui-select" name="rgn_ids" id="rgn_ids">
                    <foreach name="rgn_arr" item="vo" >
                        <option value="{$vo.rgn_atpid}" <if condition=" ($vo.rgn_atpid eq $rgn_atpid)">selected<else/></if>>{$vo.rgn_name}</option>
                    </foreach>
                </select>
            </div>
        </div>
        <div class="weui-cells" style="width: 90%;margin: 11px auto;margin-top: 50px;">
            <div class="weui-cell" style="font-size: 12px;font-weight: bolder;color: #9b9b9b;">
                <div class="weui-cell__bd" style="width: 25%;margin-left: 7%;">位置点</div>
                <div class="weui-cell__bd" style="width: 25%;margin-left: 7%;">所在位置</div>
                <div class="weui-cell__bd" style="width: 25%;margin-left: 11%;">采集号</div>
                <!--<div class="weui-cell__bd">备注</div>-->
                <div class="weui-cell__bd" style="width: 20%;margin-left: 10%;">详情</div>
            </div>
            <volist name="DeviceInfo" id="vo">
                <a href="__CONTROLLER__/detail?rgn_atpid={$Think.get.rgn_atpid}&regiontype={$Think.get.regiontype}&snname={$Tink.get.snname}&pre_rgn_atpid={$Think.get.pre_rgn_atpid}&bs={$Think.get.bs}&dev_atpid={$vo.dev_atpid}" class="weui-cell weui-cell_access external" style="font-size: 10px;color: #393939;">
                    <div class="weui-cell_bd" style="width: 20%;margin:0 auto;">{$vo.rgn_name}</div>
                    <div class="weui-cell_bd" style="width: 20%;margin:0 auto;">{$vo.rgn_path}</div>
                    <div class="weui-cell_bd" style="width: 20%;margin:0 auto;">{$vo.dev_acquisition}</div>
                    <div class="weui-cell__ft" style="width:20%;margin-left: 10px;"></div>
                </a>
            </volist>
            <empty name="DeviceInfo">
                <div class="weui-cell empty">
                        <span href="#" class="weui-cell_bd external" style="width:120px;font-size:14px;margin: 10px auto;color: #00a0e9;margin-left: 40%;">
                            暂无数据
                        </span>
                </div>
            </empty>
        </div>
    </div>

</div>

<include file="Public:leftbox"/>
<include file="Public:rightbox"/>
<include file="Public:footerjs"/>
<include file="Public:leftrightjs"/>
<include file="Public:footer"/>
<script>
    //修改园区节点
    $("#rgn_ids").on('change',function () {
        var rgn_atpid=$(this).val();
        var regiontype=GetQueryString('regiontype');
        var snname=GetQueryString('snname');
        var  pre_rgn_atpid=GetQueryString("pre_rgn_atpid");
        console.log(pre_rgn_atpid);
        if(pre_rgn_atpid==null)
        {
            pre_rgn_atpid = rgn_atpid;
        }
//        console.log(regiontype);
//        console.log(snname);
//        console.log(rgn_atpid);
        var html="__CONTROLLER__/index"+"?rgn_atpid="+rgn_atpid+"&regiontype="+regiontype+"&snname="+snname+"&pre_rgn_atpid="+pre_rgn_atpid;
        window.location.href=html;
    });
    //获得get参数的值
    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  decodeURI(r[2]); return null;
    }

</script>
