<div class="modal-dialog" style="width: 1000px;z-index: 10;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">数据编辑</h4>
        </div>
        <div class="modal-body">
            <form onkeydown="if(event.keyCode==13){return false;}"  id="sys_dlg_form" role="form" class="form-horizontal">
                <div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">能源类别：</label>
                                    <div class="col-sm-4">
                                         <select id="epd_category"  class="chosen-select">
                                             <option value="水">水</option>
                                             <option value="电">电</option>
                                             <option value="冷">冷</option>
                                             <option value="暖">暖</option>
                                         </select>
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        要求值：
                                    </label>
                                    <div class="col-sm-4">
                                        <input id="epd_requiredvalue" name="epd_requiredvalue" type="text"  value="{$data.epd_requiredvalue}" class="form-control" required>
                                    </div>
                                </div>
                            <input id="epd_energyplanid" value="{$data.epd_energyplanid}" type="hidden">
                        </div>
                    </div>
                </div>
                <input id="epd_atpid" name="epd_atpid" type="hidden" value="{$data.epd_atpid}" class="form-control">
                <input id="ep_atpid" name="ep_atpid" type="hidden" value="{$data.epd_energyplanid}" class="form-control">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
            <button type="button" name="bc" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="z-index: -101;"></div>
<script>
$(function () {
    $(".js-switch").each(function(){
        new Switchery(this, {color: '#1AB394'});
    });
    $(".file-pretty").prettyFile();
    $("#role").chosen({disable_search_threshold: 6, search_contains: true,width:'750px'});
    $(".chosen-select").chosen({disable_search_threshold: 6, search_contains: true,width:'284px'});
});
</script>