﻿<div class="modal-dialog" style="width: 1000px;z-index: 10;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">数据编辑</h4>
        </div>
        <div class="modal-body">
            <form onkeydown="if(event.keyCode==13){return false;}"  id="sys_dlg_form" role="form" class="form-horizontal">
                <div>
                    <!--<ul class="nav nav-tabs">-->
                        <!--&lt;!&ndash;<li class="active"><a data-toggle="tab" href="#tab-1">基础信息</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class=""><a data-toggle="tab" href="#tab-2">球员/领队信息</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class=""><a data-toggle="tab" href="#tab-3">裁判信息</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class=""><a data-toggle="tab" href="#tab-4">保险信息</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        设备参数：
                                    </label>
                                    <div class="col-sm-10">
                                        <select name="almp_paramid" id="almp_paramid" class="chosen-select">
                                            <!--<option value="">&nbsp;==请选择==</option>-->
                                            <foreach name="ds_param" item="p_v" key="p_k">
                                                <option value="{$p_v.p_atpid}" <if condition="$data['almp_paramid'] eq $p_v['p_atpid']">selected<else /></if>>{$p_v.p_name}</option>
                                            </foreach>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        下限：
                                    </label>
                                    <div class="col-sm-4">
                                        <if condition = "($data.almp_floor neq '')">
                                            <input id="almp_floor" name="almp_floor" type="number"  value="{$data.almp_floor}" class="form-control">
                                            <else />
                                            <input id="almp_floor" name="almp_floor" type="number"  value="0" class="form-control">
                                        </if>
                                    </div>

                                    <label class="col-sm-2 control-label">
                                        上限：
                                    </label>
                                    <div class="col-sm-4">
                                        <if condition = "($data.almp_floor neq '')">
                                            <input id="almp_upper" name="almp_upper" type="number"  value="{$data.almp_upper}" class="form-control">
                                            <else />
                                            <input id="almp_upper" name="almp_upper" type="number"  value="0" class="form-control">
                                        </if>
                                        <!--<input name="almp_upper" type="text" value="{$data.almp_upper}" class="form-control">-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input name="almp_alarmid" type="hidden" value="{$data.almp_alarmid}" class="form-control">
                <input name="almp_atpid" type="hidden" value="{$data.almp_atpid}" class="form-control">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
            <button type="button" name="bc" id="sys_dlg_submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="z-index: -101;"></div>
<script>
$(function () {
    $(".js-switch").each(function(){
        new Switchery(this, {color: '#1AB394'});
    });
    $(".file-pretty").prettyFile();
    $(".chosen-select").chosen({disable_search_threshold: 6, search_contains: true,width:'744px'});
});
</script>