<div class="modal-dialog" style="width: 1000px;z-index: 10;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">数据编辑</h4>
        </div>
        <div class="modal-body">
            <form onkeydown="if(event.keyCode==13){return false;}"  id="sys_dlg_form" role="form" class="form-horizontal">
                <div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <span style="color: red;text-align: center">*</span>
                                        位置点：
                                    </label>
                                    <div class="col-sm-4">
                                        <select name="d2mdfd_regionid" class="chosen-select" >
                                            <foreach name="regionlist" item="emv" key="emk">
                                                <option value="{$emv.rgn_atpid}" <if condition="($data.d2mdfd_regionid eq $r_v['rgn_atpid'])">selected<else /></if>>{$emv.rgn_name}</option>
                                            </foreach>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        时间：
                                    </label>
                                    <div class="col-sm-4">
                                        <input id="d2mdfd_dt" name="d2mdfd_dt" type="text"  value="{$data['d2mdfd_dt']}" required onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <span style="color: red;text-align: center">*</span>
                                        参数：
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="text"  value="用电量,千瓦时（Kwh）" readonly class="form-control" required>
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        数值：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="d2mdfd_paramid_dgl" type="number"  value="{$data['d2mdfd_paramid_dgl']}" required class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <span style="color: red;text-align: center">*</span>
                                        参数：
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="text"  value="电压,伏特（V）" readonly class="form-control" required>
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        数值：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="d2mdfd_paramid_df" type="number"  value="{$data['d2mdfd_paramid_df']}" required class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <span style="color: red;text-align: center">*</span>
                                        参数：
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="text"  value="电流,安培（A）" readonly class="form-control" required>
                                    </div>
                                    <label class="col-sm-2 control-label">
                                        数值：
                                    </label>
                                    <div class="col-sm-4">
                                        <input name="d2mdfd_paramid_da" type="number"  value="{$data['d2mdfd_paramid_da']}" required class="form-control">
                                    </div>
                                </div>

                                <div class="form-group"></div>
                                <div class="form-group"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <input name="data2modifyid" type="hidden" value="{$Think.get.d2mdf_atpid}" class="form-control">
                <input name="d2mdfd_group" type="hidden" value="{$data.d2mdfd_group}" class="form-control">
                <input name="d2mdfd_isedit" type="hidden" value="{$data.d2mdfd_isedit}" class="form-control">
                <input name="d2mdfd_atpid_dgl" type="hidden" value="{$data.d2mdfd_atpid_dgl}" class="form-control">
                <input name="d2mdfd_atpid_df" type="hidden" value="{$data.d2mdfd_atpid_df}" class="form-control">
                <input name="d2mdfd_atpid_da" type="hidden" value="{$data.d2mdfd_atpid_da}" class="form-control">
                <input name="energytype" type="hidden" value="电" class="form-control">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
            <button type="button" data-dismiss="" id="sys_dlg_submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="z-index: -101;"></div>
<script>
$(function () {
    $(".js-switch").each(function(){
        new Switchery(this, {color: '#1AB394'});
    });
    $(".file-pretty").prettyFile();
    $(".chosen-select").chosen({disable_search_threshold: 3, search_contains: true,width:'284px'});
});
</script>