<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ATP-移动版</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" href="__PUBLIC__/mobile/blue/css/light7.css">
  <link rel="stylesheet" href="__PUBLIC__/mobile/blue/css/weui.css">
  <link rel="stylesheet" href="__PUBLIC__/mobile/blue/css/light7-swiper.css" >
  <link rel="stylesheet" href="__PUBLIC__/mobile/blue/css/light7-swipeout.css" >
  <link rel="stylesheet" href="__PUBLIC__/mobile/blue/css/app.css">
  <link rel="stylesheet" href="__PUBLIC__/mobile/blue/css/gray-themes.css">

  <style>
    article p{
      font-size: 0.8rem;
      text-indent: 2em;
    }
    .weui_article {
      padding: 15px;
    }
  </style>

</head>
<body>
<div id="detail-page" class="page no-tabbar">
  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-left external" href="tab2_list.html">
      <span class="icon icon-left"></span>
      返回
    </a>
    <h1 class="title">新闻页面</h1>
  </header>

  <div class="content" id='detail-page'>
    
    <article class="weui_article padding10">

              <h2>谷歌与高通联手研发Tango手机</h2>
              <ul class="weui-media-box__info">
                  <li class="weui-media-box__info__meta">文字来源</li>
                  <li class="weui-media-box__info__meta">时间</li>
                  <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">其它信息</li>
              </ul>


            <section>
                <p>企业文化是在一定的条件下企业生产经营和管理活动中所创造的具有该企业特色的精神财富和物质形态。它包括文化观念、价值观念、企业制度、文化环境等企业文化是在一定的条件下企业生产经营和管理活动中所创造的具有该企业特色的精神财富和物质形态。它包括文化观念、价值观念、企业制度、文化环境等,企业文化是在一定的条件下企业生产经营和管理活动中所创造的具有该企业特色的精神财富和物质形态。它包括文化观念、价值观念、企业制度、文化环境等</p>
                  <img src="__PUBLIC__/mobile/blue/images/house.jpg" alt="">
                  <p>企业文化是在一定的条件下企业生产经营和管理活动中所创造的具有该企业特色的精神财富和物质形态。它包括文化观念、价值观念、企业制度、文化环境等企业文化是在一定的条件下企业生产经营和管理活动中所创造的具有该企业特色的精神财富和物质形态。它包括文化观念、价值观念、企业制度、文化环境等,企业文化是在一定的条件下企业生产经营和管理活动中所创造的具有该企业特色的精神财富和物质形态。它包括文化观念、价值观念、企业制度、文化环境等</p>
            </section>
      </article>

      
  
  </div>
</div>


<script type='text/javascript' src="__PUBLIC__/mobile/blue/js/zepto.js" ></script>
<script type='text/javascript' src="__PUBLIC__/mobile/blue/js/light7.js" ></script>
<script type='text/javascript' src="__PUBLIC__/mobile/blue/js/light7-swiper.js"></script>
<script type='text/javascript' src="__PUBLIC__/mobile/blue/js/light7-swipeout.js"></script>
<script src="__PUBLIC__/mobile/blue/js/app.js"></script>
</body>
</html>
