<div class="panel-overlay"></div>
<div class="panel panel-left panel-reveal theme-dark atp-leftpanal" id='ATP_LEFTBOX'>
    <div class="content-block">
        <div class="list-block">
            <ul>
                <li>
                    <div href="#" class="item-content">
                        <div class="item-media"><img src="__PUBLIC__/mobile/images/face.png"  style="width: 60px;border-radius: 50%" ></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title"></div>
                                <div class="item-subtitle">账号：Admin</div>
                                <div class="item-subtitle">角色：管理员</div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li>-->
                    <!--<a href="" class="item-content item-link external">-->
                        <!--<div class="item-inner">-->
                            <!--<div class="item-title">修改密码</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <li >
                    <a href="__MODULE__/Login/logout" class="item-content item-link external">
                        <div class="item-inner">
                            <div class="item-title">登出</div>
                        </div>
                    </a>
                </li>
                <li>
                    <!--<div class="item-content">-->
                    <!--<div class="item-inner">-->
                    <!--<div class="item-title label" style='width: 42%;'>主题切换</div>-->
                    <!--<div class="item-input">-->
                    <!--<a class="themebtn external tbtn1"></a>-->
                    <!--<a href="../orange-ATP/tab1.html" class="themebtn external tbtn2"></a>-->
                    <!--<a href="../green-ATP/tab1.html" class="themebtn external tbtn3"></a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </li>
            </ul>
        </div>
    </div>
</div>


