<!-- 底部导航 -->
<nav class="bar bar-tab">
    <a class="tab-item <if condition="[active] eq '园区漫游'">active</if> external" href='__MODULE__/Index/index?rgn_atpid=guid1A15CA6C-E3D2-4779-BF6B-F6C2D4706C9D&regiontype=rg&snname='>
    <if condition="[active] eq '园区漫游'">
        <img src="__PUBLIC__/mobile/icon/1a.png" style="height: 30px;width: 30px;margin: 0 auto;display: block;" alt="">
        <else/>
        <img src="__PUBLIC__/mobile/icon/1b.png" style="height: 30px;width: 30px;margin: 0 auto;display: block;" alt="">
    </if>
        <span class="tab-label" style="font-size: 12px;">园区漫游</span>
    </a>
    <!--<a class="tab-item <if condition="[active] eq '数据对比'">active</if> external" href="__MODULE__/Datacompare/index">-->
    <!--<if condition="[active] eq '数据对比'">-->
        <!--<img src="__PUBLIC__/mobile/icon/2a.png" style="height: 30px;width: 30px;margin: 0 auto;display: block;" alt="">-->
        <!--<else/>-->
        <!--<img src="__PUBLIC__/mobile/icon/2b.png" style="height: 30px;width: 30px;margin: 0 auto;display: block;" alt="">-->
    <!--</if>-->
        <!--<span class="tab-label" style="font-size: 12px;">数据对比</span>-->
    <!--</a>-->
    <a class="tab-item <if condition="[active] eq '专项能源'">active</if> external" href="__MODULE__/Specialeny/index">
    <if condition="[active] eq '专项能源'">
        <img src="__PUBLIC__/mobile/icon/3a.png" style="height: 30px;width: 30px;margin: 0 auto;display: block;" alt="">
        <else/>
        <img src="__PUBLIC__/mobile/icon/3b.png" style="height: 30px;width: 30px;margin: 0 auto;display: block;" alt="">
    </if>
        <span class="tab-label" style="font-size: 12px;">专项能源</span>
    </a>
    <a class="tab-item <if condition="[active] eq '租户管理'">active</if> external" href="__MODULE__/Zheny/index?rgn_atpid=guid1A15CA6C-E3D2-4779-BF6B-F6C2D4706C9D&regiontype=rg&snname&bs=zh">
    <if condition="[active] eq '租户管理'">
        <img src="__PUBLIC__/mobile/icon/4a.png" style="height: 30px;width: 30px;margin: 0 auto;display: block;" alt="">
        <else/>
        <img src="__PUBLIC__/mobile/icon/4b.png" style="height: 30px;width: 30px;margin: 0 auto;display: block;" alt="">
    </if>
        <span class="tab-label" style="font-size: 12px;">租户管理</span>
    </a>
    <a class="tab-item <if condition="[active] eq '业主管理'">active</if> external" href="__MODULE__/Zheny/index?rgn_atpid=guid1A15CA6C-E3D2-4779-BF6B-F6C2D4706C9D&regiontype=rg&snname&bs=yz">
    <if condition="[active] eq '业主管理'">
        <img src="__PUBLIC__/mobile/icon/6a.png" style="height: 30px;width: 30px;margin: 0 auto;display: block;" alt="">
        <else/>
        <img src="__PUBLIC__/mobile/icon/6b.png" style="height: 30px;width: 30px;margin: 0 auto;display: block;" alt="">
    </if>
        <span class="tab-label" style="font-size: 12px;">业主管理</span>
    </a>
    <!--<a class="tab-item <if condition="[active] eq '审批中心'">active</if> external" href="__MODULE__/Flow/index">-->
    <!--<if condition="[active] eq '审批中心'">-->
        <!--<img src="__PUBLIC__/mobile/icon/5a.png" style="height: 30px;width: 30px;margin: 0 auto;display: block;" alt="">-->
        <!--<else/>-->
        <!--<img src="__PUBLIC__/mobile/icon/5b.png" style="height: 30px;width: 30px;margin: 0 auto;display: block;" alt="">-->
    <!--</if>-->
        <!--<span class="tab-label" style="font-size: 12px;">审批中心</span>-->
    <!--</a>-->

</nav>