<!-- 底部导航 -->
<nav class="bar bar-tab">
    <a class="tab-item <if condition="[active] eq '园区漫游'">active</if> external" href='__MODULE__/Index/index?rgn_atpid=guid1A15CA6C-E3D2-4779-BF6B-F6C2D4706C9D&regiontype=rg&snname='>
        <span class="icon icon-app"></span>
        <span class="tab-label">园区漫游</span>
    </a>
    <!--<a class="tab-item <if condition="[active] eq '数据对比'">active</if> external" href="__MODULE__/Datacompare/index">-->
        <!--<span class="icon icon-app"></span>-->
        <!--<span class="tab-label">数据对比</span>-->
    <!--</a>-->
    <a class="tab-item <if condition="[active] eq '专项能源'">active</if> external" href="__MODULE__/Specialeny/index">
        <span class="icon icon-app"></span>
        <span class="tab-label">专项能源</span>
    </a>
    <a class="tab-item <if condition="[active] eq '租户管理'">active</if> external" href="__MODULE__/Zheny/index">
        <span class="icon icon-app"></span>
        <span class="tab-label">租户管理</span>
    </a>
    <a class="tab-item <if condition="[active] eq '业主管理'">active</if> external" href="__MODULE__/Yzeny/index">
        <span class="icon icon-app"></span>
        <span class="tab-label">业主管理</span>
    </a>
    <a class="tab-item <if condition="[active] eq '审批中心'">active</if> external" href="__MODULE__/Flow/index">
        <span class="icon icon-app"></span>
        <span class="tab-label">审批中心</span>
    </a>

</nav>