<!--打开右侧效果 -->

<div class="panel panel-right panel-reveal theme-dark" id='ATP_RIGHTBOX'>
    <div class="content-block" >
        <p><font color="white">使用帮助</font></p>
        <p><b>园区漫游：</b>提供对【园区】相关节点进行数据查询</p>
        <p>提供对【园区】相关节点进行数据查询</p>    
        <p><b>专项能源：</b></p>
        <p>提供对【制冷机房】、【配电室】、【锅炉房】、【图书馆】、【邮件】、【文化活动中心】几类专项能源进行数据查询</p>
        <p><b>租户管理：</b></p>
        <p>提供租户查询功能</p>
        <p><b>业主管理：</b></p>
        <p>提供业主查询功能</p>
        <!--<p><b>审批中心：</b></p>-->
        <!--<p>提供审批功能</p>-->
    </div>
</div>
