<include file="Public:header"/>
<include file="Public:menu" active="园区漫游"/>

<!-- tab1  -->
<div class="page page-goods" style="display: block">
    <header class="bar bar-nav">
        <a class="icon icon-me pull-left atp-leftbtn"></a>
        <a class="icon icon-star pull-right atp-rightbtn"></a>
        <h1 class="title">综合信息</h1>
    </header>
    <div class="content" id='detail-page'>
        <div class="page-detail">
            <div class='content-block goods-card'>
                <h3>报警点：1#1单元1层水表</h3>
                <p>报警事件：超限</p>
                <p>报警等级：高</p>
                <p>报警状态：未处理</p>
            </div>

            <div class='content-block goods-card'>
                <h3>报警点：1#1单元1层水表</h3>
                <p>报警事件：超限</p>
                <p>报警等级：高</p>
                <p>报警状态：未处理</p>
            </div>

            <div class='content-block goods-card'>
                <h3>报警点：1#1单元1层水表</h3>
                <p>报警事件：超限</p>
                <p>报警等级：高</p>
                <p>报警状态：未处理</p>
            </div>

            <div class='content-block goods-card'>
                <h3>报警点：1#1单元1层水表</h3>
                <p>报警事件：超限</p>
                <p>报警等级：高</p>
                <p>报警状态：未处理</p>
            </div>

            <div class='content-block goods-card'>
                <h3>报警点：1#1单元1层水表</h3>
                <p>报警事件：超限</p>
                <p>报警等级：高</p>
                <p>报警状态：未处理</p>
            </div>

            <div class='content-block goods-card'>
                <h3>报警点：1#1单元1层水表</h3>
                <p>报警事件：超限</p>
                <p>报警等级：高</p>
                <p>报警状态：未处理</p>
            </div>

            <div class='content-block goods-card'>
                <h3>报警点：1#1单元1层水表</h3>
                <p>报警事件：超限</p>
                <p>报警等级：高</p>
                <p>报警状态：未处理</p>
            </div>

        </div>
    </div>


</div>

<include file="Public:leftbox"/>
<include file="Public:rightbox"/>
<include file="Public:footerjs"/>
<include file="Public:leftrightjs"/>
<script>


</script>
<include file="Public:footer"/>